<!--<area-chart></area-chart>
<development-chart></development-chart>-->

<div class="tab-content">

    <div class="tab-pane sidebar-tab-pane active" id="summary">
        <area-chart></area-chart>
        <development-chart></development-chart>
    </div>
    <div class="tab-pane sidebar-tab-pane" id="releases">
        <releases-comp></releases-comp>
    </div>
    <div class="tab-pane sidebar-tab-pane" id="settings">Settings Tab.</div>
</div>




<div>
    <fab dir="down">
        <fab-toggle>+</fab-toggle>
        <fab-button>A</fab-button>
        <fab-button>B</fab-button>
        <fab-button>C</fab-button>
        <fab-button>D</fab-button>
    </fab>
</div>