<!--<area-chart></area-chart>
<development-chart></development-chart>-->

<div class="tab-content">

    <div class="tab-pane sidebar-tab-pane active" id="summary">

        <area-chart></area-chart>
        <development-chart></development-chart>

    </div>
    <div class="tab-pane sidebar-tab-pane" id="releases">
        <releases-comp></releases-comp>
    </div>
    <div class="tab-pane sidebar-tab-pane" id="commits">
        <commits></commits>
    </div>
    <div class="tab-pane sidebar-tab-pane" id="story-generated">
        <story-generated></story-generated>
    </div>

</div>