<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> Development style<small>whole life</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link-dev"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab1" class="nav nav-tabs bar_tabs right" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content11" id="home-tabb" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Developers</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content22" role="tab" id="profile-tabb" data-toggle="tab" aria-controls="profile" aria-expanded="false">Files</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content33" role="tab" id="profile-tabb3" data-toggle="tab" aria-controls="profile" aria-expanded="false">Durations</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content44" role="tab" id="tables" data-toggle="tab" aria-controls="profile" aria-expanded="false">Tables</a>
                        </li>
                    </ul>
                    <div id="myTabContent2" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content11" aria-labelledby="home-tab">
                            <p></p>
                            <div class="col-md-9 col-sm-12 col-xs-12 development-style" id="developers-chord-chart">
                                <svg width="600" height="600"></svg>
                                <br>
                                <br>

                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div>
                                    <div class="x_title">
                                        <h2>Authors</h2>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="list-header">
                                        <a class="pull-left " style="padding-left:5px">
                                            <b>#Commits</b>
                                        </a>
                                        <a class="pull-left" style="padding-left:20px">
                                            <b>Author</b>
                                        </a>
                                        <br>
                                    </div>
                                    <ul class="list-unstyled top_profiles scroll-view1" style="overflow-y: scroll;height:500px;">

                                        <li *ngFor='let author of this.authors; let i = index;' class="media event">

                                                <a class="pull-left border-aero profile_thumb author-circle">
                                                    <b>{{author.CommitNumber}}</b>
                                                </a>
                                                <div class="media-body filename-title" style="padding-left:10%">
                                                    <b>{{author.AU_NAME}}</b><br>
                                                    {{author.AU_EMAIL}}
                                                </div>

                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content22" aria-labelledby="profile-tab">
                            <p></p>

                            <div class="col-md-9 col-sm-12 col-xs-12 development-style-commits" id="development-style-commits">
                                <svg width="600" height="600"></svg>
                                <br>
                                <br>

                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div>
                                    <div class="x_title">
                                        <h2>Top co-changed files</h2>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="list-header">
                                        <a class="pull-left " style="padding-left:5px">
                                            <b>Count</b>
                                        </a>
                                        <a class="pull-left" style="padding-left:20px">
                                            <b>Filename</b>
                                        </a>
                                        <br>
                                    </div>
                                    <ul class="list-unstyled top_profiles scroll-view1" style="">

                                        <li *ngFor='let file of this.cochangedFiles; let i = index;' class="media event">
                                            <div *ngIf="i > 0">
                                                <a class="pull-left border-aero profile_thumb">
                                                    <b>{{file.Ranked}}</b>
                                                </a>
                                                <div class="media-body filename-title">
                                                    <b> {{file.FA_NEW_FULL_PATH}}</b>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content33" aria-labelledby="profile-tab">
                            <p></p>

                            <div class="col-md-9 col-sm-12 col-xs-12 development-style-durations" id ="development-style-durations">
                                <svg width="600" height="600"></svg>
                                <br>
                                <br>

                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12">

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="tab_content44" aria-labelledby="table-tab">
                            <p></p>

                            <div class="col-md-9 col-sm-12 col-xs-12 development-style-tables">
                                <div class="tables-changes" style="overflow: auto;white-space: nowrap;overflow-y: scroll; height: 500px;" id="development-style-tables">
                                    <svg width="300" height="600"></svg>
                                </div>
                                <br>
                                <br>

                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12">

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<notifications [showSuccess]="showSuccess"></notifications>