
<div class="row">


<div class="col-md-3 col-sm-4 col-xs-12 form-group pull-right top_search">
    <div class="input-group">
        <div class="form-group">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel1">
                <option *ngFor='let release of this.releases;let i = index;'>
                        {{ release.name }}

                </option>

            </select>
        </div>
    </div>
</div>
</div>

<div class="row">

    <div class="col-md-7 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Commit List </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="release-summary">

                </div>

            </div>
        </div>
    </div>


    <div class="col-md-5 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Commit List </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link-commit-list"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link-commit-list"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="list-unstyled timeline scroll-view1" style="overflow-y: scroll;height:500px;">

                    <li *ngFor="let commit of commits">
                        <div class="block">
                            <div class="tags">
                                <a href="" class="tag">
                                    <span>Steady</span>
                                </a>
                            </div>
                            <div class="block_content">
                                <h2 class="title">
                                    <a>{{commit.text.substring(0,30)}}</a>
                                </h2>
                                <div class="byline">
                                    <span>{{commit.date}}</span> by <a>{{commit.author.name}}</a>
                                </div>
                                <p class="excerpt">{{commit.text}} <a>Read&nbsp;More</a>
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>

</div>