
<div class="row" style="margin-top: 120px">
<div class="col-md-8">
    <div class="commit-overview">

    </div>

</div>

<div class="col-md-3 col-sm-4 col-xs-12 form-group pull-right top_search">

    <form>
        <label class="radio-inline">
            <input type="radio" name="optradio" [(ngModel)]="specificReleaseOn" [value]="false" (change)="onSelectionChange('period')" checked="true">Commits inside selected period</label>
        <label class="radio-inline">
            <input type="radio" name="optradio" [(ngModel)]="specificReleaseOn" [value]="true" (change)="onSelectionChange('release')">Specific Release </label>
    </form>

    <div *ngIf="isSingleReleaseOn()" class="input-group">
        <div class="form-group">
           <select class="form-control" id="sel1" [(ngModel)]="selectedRelease" (ngModelChange)="setSelectedReleaseId()">
                <option *ngFor='let release of this.selectedReleases;let i = index;' [ngValue]="release">
                        {{ release.name }}

                </option>

            </select>
        </div>
    </div>
</div>
</div>

<div class="row">

    <div class="col-md-7 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Commit List </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a (click)="addCommitChartToStory()">Chart</a>
                            </li>
                            <li><a (click)="addReleaseDescriptionstToStory()">Release Summaries</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="release-summary" id="release-summary">

                </div>

                <div>
                    <p *ngIf="this.selectedRelease && isSingleReleaseOn()" [innerHTML]="this.selectedRelease.releaseSummary | newLineFilter"> </p>
                </div>

                <div *ngIf="this.selectedReleases?.length && !isSingleReleaseOn()">
                    <div *ngFor="let release of selectedReleases">
                        <h2>{{release.name}}</h2><button (click)="setReleaseForEdit(release)" type="button" class="btn btn-primary" data-toggle="modal" data-target=".release-edit-modal">Edit Summary</button>
                        <p [innerHTML]="release.releaseSummary | newLineFilter"> </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="modal fade release-edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Summary</h4>
                </div>
                <div class="modal-body">
                                    <textarea id="111">
                                    <p *ngIf="this.releaseForEdit" [innerHTML]="this.releaseForEdit.releaseSummary | newLineFilter"> </p>
                                        </textarea>
                </div>
                <div class="modal-footer">
                    <p *ngIf="summarySaved" style="color:#6dce0c">Summary was saved successfully ... </p>
                    <button (click)="getNewInfo()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button (click)="updateReleaseSummary()" type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-5 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!--<h2>Text Summary</h2>-->
               <div *ngIf="commits?.length > 0">
                    <h2>Commits ({{commits.length}})</h2>

                </div>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link-commit-list"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a (click)="addTextSummaryToStory()">Text Summary</a>
                            </li>
                            <li><a (click)="addCommitsToStory()">Commit List</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link-commit-list"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">


                <!--<p> Text describing the selected period.</p>
                <p> Text describing the selected period.</p>
                <p> Text describing the selected period.</p>

                <div class="x_title" *ngIf="commits?.length > 0">
                    <h2>Commits ({{commits.length}})</h2>
                    <div class="clearfix"></div>
                </div>-->
                <ul class="list-unstyled timeline scroll-view1" style="overflow-y: scroll;height:350px;">

                    <li *ngFor="let commit of commits">
                        <div class="block">
                            <div class="tags">
                                <p class="tag">
                                    <span>Steady</span>
                                </p>
                            </div>
                            <div class="block_content commit-list-information" (mouseover)='highlighCommit(true,i,$event,commit)'
                                 (mouseout)="highlighCommit(false,i,$event,commit)" (click)="showCommitInfo(commit.id)">
                                <h2 class="title">
                                    <a>{{commit.text.substring(0,30)}} ... Read&nbsp;More</a>
                                </h2>
                                <div class="byline">
                                    <span>{{commit.date}}</span> by <a>{{commit.author.name}}</a>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>

</div>

<notifications [showSuccess]="showSuccess"></notifications>