<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Highlights & Characterizations</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="release-summary-chart"  >
                <div *ngIf="this.commitChart">
                    <h3>Commits Chart <a (click)="removeCommitChart()"><i class="fa fa-close"></i></a></h3>
                </div>
                <div id="commit-chart-story"></div>
            </div>


            <div *ngIf="textSummary" class="release-descriptions-text" id="release-descriptions-text">
                <h3>Summary Text <a (click)="removeTextSummary()"><i class="fa fa-close"></i></a></h3>
                <p>{{textSummary}}</p>
            </div>


            <div *ngIf="commits?.length > 0" class="commit-list-story" id="commit-list-story">
                <h3>List of Commits<a (click)="removeCommitList"><i class="fa fa-close"></i></a></h3>
                <ul class="list-unstyled timeline scroll-view1" style="overflow-y: scroll;height:350px;">
                    <li *ngFor="let commit of commits">
                        <div class="block">
                            <div class="tags">
                                <p class="tag">
                                    <span>Steady</span>
                                </p>
                            </div>
                            <div class="block_content commit-list-information">
                                <h2 class="title">
                                    {{commit.text.substring(0,30)}}
                                </h2>
                                <div class="byline">
                                    <span>{{commit.date}}</span> by {{commit.author.name}}
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

            <div *ngIf="this.releaseDescriptions?.length">
                <h3>Release descriptions <a (click)="removeReleaseDescriptions()"><i class="fa fa-close"></i></a></h3>
                <div *ngFor="let release of releaseDescriptions">
                    <h2>{{release.name}}</h2>
                    <p [innerHTML]="release.releaseSummary | newLineFilter"> </p>
                </div>

            </div>

        </div>
    </div>
</div>