<!-- top tiles -->
<div class="row tile_count" style="margin-top: 120px" *ngIf="this.selectedCommit">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> # Tables</span>
        <div class="count">{{this.selectedCommit.newTables}}</div>
        <span class="count_bottom">

            <i class="green" *ngIf="this.selectedCommit.schemaGrowth > 0"><i class="fa fa-sort-asc"></i>+{{this.selectedCommit.schemaGrowth}}</i>
            <i class="red" *ngIf="this.selectedCommit.schemaGrowth < 0"><i class="fa fa-sort-desc"></i>{{this.selectedCommit.schemaGrowth}}</i>
            <i class="" *ngIf="this.selectedCommit.schemaGrowth == 0">0</i>

            From last version</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> # Attributes</span>
        <div class="count">{{this.selectedCommit.newAttributes}}</div>
        <span class="count_bottom">

            <i class="green" *ngIf="this.selectedCommit.schemaGrowthAttribute > 0"><i class="fa fa-sort-asc"></i>+{{this.selectedCommit.schemaGrowthAttribute}}</i>
            <i class="red" *ngIf="this.selectedCommit.schemaGrowthAttribute < 0"><i class="fa fa-sort-desc"></i>{{this.selectedCommit.schemaGrowthAttribute}}</i>
            <i class="" *ngIf="this.selectedCommit.schemaGrowthAttribute == 0">0</i>
             From last version</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Changes</span>
        <div class="count green">{{this.selectedCommit.totalChanges}}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Versions Affected</span>
        <div class="" style="padding-top:15px;"><strong>Old:</strong>
            <span>{{this.selectedCommit.transitionOldVersion}}</span>
            <br>
            <strong>New:</strong>
            <span>{{this.selectedCommit.transitionNewVersion}}</span>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Commit Date</span>
        <div class="" style="padding-top:15px;">
            <article class="media event">
            <a class="pull-left date">
                <p class="month" style="font-size: 1.3em;">{{this.selectedCommit.commitDate.split("T")[0]}} {{this.selectedCommit.commitDate.split("T")[1].replace("Z","")}}</p>

                </a></article>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" >
        <span class="count_top"><i class="fa fa-user"></i> Release Info</span>
        <div class="" style="padding-top:10px;"><strong>Release name:</strong> {{this.selectedCommit.release}}<br>
            <strong>Release date: </strong> {{this.selectedCommit.releaseDate | date:'yMMMd'}}
        </div>
    </div>
</div>
<!-- /top tiles -->

<div class="row">
    <div class="col-md-7 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Commit Summary</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="release-summary">
                    <p *ngIf="this.selectedCommit" [innerHTML]="this.selectedCommit.commitSummary | newLineFilter"> </p>
                    <!-- Small modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Edit Summary</button>

                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Edit Summary</h4>
                                </div>
                                <div class="modal-body">
                                    <textarea id="111">
                                    <p *ngIf="this.selectedCommit" [innerHTML]="this.selectedCommit.commitSummary | newLineFilter"> </p>
                                        </textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /modals -->

                    <h2 style="padding-top:20px;">The reasons of the commit is shown below:</h2>
                    <p *ngIf="this.selectedCommit" [innerHTML]="this.selectedCommit.commitText"></p>

                </div>

            </div>
        </div>

        <div class="row" *ngIf="this.issues?.length > 0">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Issues</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row" >
                            <div class="col-sm-4 mail_list_column" style="overflow-y: scroll;height:400px;">
                                <a *ngFor="let issue of this.issues;let i = index;" id="{{'issue'+i}}" (click)="setSelectedIssue(issue)">
                                    <div class="mail_list" [class.issue-active]="issue == this.selectedIssue">
                                        <div class="left">
                                            <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                                        </div>
                                        <div class="right">
                                            <h3>{{issue.IS_ACTOR}} <small>{{issue.IS_CREATED_AT}}</small></h3>
                                            <p>{{issue.IS_TITLE}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- /MAIL LIST -->

                            <!-- CONTENT MAIL -->
                            <div class="col-sm-8 mail_view" >
                                <div class="inbox-body" *ngIf="this.selectedIssue">
                                    <div class="mail_heading row">
                                        <div class="col-md-8">
                                            <p>Is this helpful?</p>
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-chevron-up"></i> Upvote</button>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <p class="date"> 8:02 PM 12 FEB 2014</p>
                                        </div>
                                        <div class="col-md-12">
                                            <h4> {{this.selectedIssue.IS_TITLE}}</h4>
                                        </div>
                                    </div>
                                    <div class="sender-info">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>{{this.selectedIssue.IS_ACTOR}}</strong>
                                                <span></span> assigned to
                                                <strong>{{this.selectedIssue.IS_ASSIGNEE}}</strong>
                                                <p><strong>Status:</strong>{{this.selectedIssue.IS_STATUS}}</p>
                                                <p><strong>Priority:</strong>{{this.selectedIssue.IS_PRIORITY}}</p>
                                                <p><strong>Type:</strong>{{this.selectedIssue.IS_TYPE}}</p>
                                                <p><strong>% Done:</strong>{{this.selectedIssue.IS_PERCENTAGE_DONE}}</p>
                                                <p><strong>Category:</strong>{{this.selectedIssue.IS_CATEGORY}}</p>
                                                <p><strong>Closed at:</strong>{{this.selectedIssue.IS_CLOSED_AT}}</p>
                                                <p><strong>Labels:</strong>{{this.selectedIssue.IS_LABELS}}</p>
                                                <p><strong>Updated at:</strong>{{this.selectedIssue.IS_UPDATED_AT}}</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="view-mail">
                                        <p [innerHTML]="this.selectedIssue.IS_BODY"></p>
                                    </div>
                                    <p>Is this helpful?</p>
                                    <div class="btn-group">

                                        <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-chevron-up"></i> Upvote</button>
                                    </div>
                                </div>

                            </div>
                            <!-- /CONTENT MAIL -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" *ngIf="this.buildInfo?.length > 0">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Build Information</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                    <div class="">
                        <p><strong>State:</strong> {{this.buildInfo[0].BU_STATE}} </p>
                        <p><strong>Started at:</strong> {{this.buildInfo[0].BU_STARTED_AT}} </p>
                        <p><strong>Finished at:</strong> {{this.buildInfo[0].BU_FINISHED_AT}} </p>
                        <p><strong>Duration:</strong> {{this.buildInfo[0].BU_DURATION}} </p>
                        <p><strong>Result:</strong> {{this.buildInfo[0].BU_RESULT}} </p>
                    </div>
                </div>
            </div>
        </div>
        </div>


    </div>
    <div  class="col-md-5 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> Useful Stats</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="countries_list" *ngIf="this.selectedCommit">
                    <tbody>
                    <tr>
                        <td>Table Births</td>
                        <td class="fs15 fw700 text-right">{{this.selectedCommit.tableBirths}}</td>
                    </tr>
                    <tr>
                        <td>Table Deaths</td>
                        <td class="fs15 fw700 text-right">{{this.selectedCommit.tableDeaths}}</td>
                    </tr>
                    <tr>
                        <td>Attribute Additions</td>
                        <td class="fs15 fw700 text-right">{{this.selectedCommit.attributesInsertedAtSurvivingTables}}</td>
                    </tr>
                    <tr>
                        <td>Attribute Deletions</td>
                        <td class="fs15 fw700 text-right">{{this.selectedCommit.attributesDeletedAtSurvivingTables}}</td>
                    </tr>
                    <tr>
                        <td>Key Changes</td>
                        <td class="fs15 fw700 text-right">{{this.selectedCommit.keyChanges}}</td>
                    </tr>
                    <tr>
                        <td>Type Changes</td>
                        <td class="fs15 fw700 text-right">{{this.selectedCommit.typeChanges}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-align-left"></i> Tables affected <small>Sessions</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <!-- start accordion -->
                <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true" *ngIf="this.tablesChanged?.length > 0">


                    <div class="panel" *ngFor='let table of this.tablesChanged;let i = index;'>
                        <a class="panel-heading" role="tab" id="{{'heading' + i}}" data-toggle="collapse" data-parent="#accordion" href="{{'#collapse' + i}}" aria-expanded="false"
                           [attr.aria-controls] ="'collapse' + i">
                            <h4 class="panel-title">{{table.tableName}} ({{table.changes.length}} changes)</h4>
                        </a>
                        <div id="{{'collapse' + i}}" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading' + i">
                            <div class="panel-body">
                                <ul>
                                    <li *ngFor='let change of table.changes;'>
                                        <strong>EventType:</strong> {{change.eventType}}	| <strong>attrName:</strong>{{change.attributeName}}	<br>
                                        <strong>attrType:</strong> {{change.attributeType}} | <strong>iskey:</strong> {{change.isKey}}
                                        <strong>pkey:</strong> {{change.primaryKey}} | <strong>fkey:</strong>
                                        {{change.foreignKey}}</li>

                                </ul>

                            </div>
                        </div>
                    </div>

                <!-- end of accordion -->


            </div>
        </div>



    </div>

</div>