<!-- top navigation -->
<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <!--<a id="menu_toggle" (click)="toggleClicked($event)"><i class="fa fa-bars" aria-hidden="true"></i></a>-->
      </div>

      <ul class="nav navbar-nav navbar-right">

        <li role="presentation" class="dropdown">

          <select id="drop5" role="presentation" class="dropdown-toggle project-selection " (change)="projectSelection($event.target.value)">
            <option *ngFor='let project of projects' value="{{project.ID}}" ng-selected="classifier.value==selection">{{project.Name}}</option>
          </select>

        </li>
        <li role="presentation" style="padding-top:20px;color:#313232;margin-right:10px;"><b>Selected Dataset</b></li>
      </ul>
    </nav>
  </div>
</div>
<!-- /top navigation -->
