<div *ngIf="showSuccess" class="ui-pnotify  ui-pnotify-fade-slow ui-pnotify-in ui-pnotify-fade-in ui-pnotify-move"
     aria-live="assertive" aria-role="alertdialog" style=" width: 300px; right: 36px; cursor: auto;">
    <div class="alert ui-pnotify-container alert-success ui-pnotify-shadow" role="alert" style="min-height: 16px;">

        <div class="ui-pnotify-sticker" aria-role="button" aria-pressed="true" tabindex="0" title="Unstick" style="cursor: pointer; visibility: hidden;">
            <span class="glyphicon glyphicon-play" aria-pressed="true"></span></div><div class="ui-pnotify-icon">
        <span class="glyphicon glyphicon-ok-sign"></span></div><h4 class="ui-pnotify-title"> Success!</h4>
        <div class="ui-pnotify-text" aria-role="alert">The selected element has been added to the story.</div>
    </div>
</div>