<!DOCTYPE html>
<html>
<head>
    <title>Repo Life Story</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"  type="image/png"  href="../public/favicon.ico">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="./mod/froala-editor/css/froala_editor.pkgd.min.css">
    <!-- Polyfill(s) for older browsers -->
    <script src="./mod/core-js/client/shim.min.js"></script>

    <script src="./mod/zone.js/dist/zone.js"></script>
    <script src="./mod/systemjs/dist/system.src.js"></script>

    <script src="../public/js/systemjs.config.js"></script>
    <script>
        System.import('/ngapp/main.js').catch(function(err){ console.error(err); });
    </script>
</head>

<body class="nav-sm">
<div class="loader-container">
    <div id="init-loader" class="initial-loader">

        <span>{</span><span>}</span></h3>
    </div>
</div>

<main-app></main-app>

<!--<script src="../public/js/custom.js"></script>-->
<script src="./mod/jquery/dist/jquery.js"></script>
<script src="/mod/tinymce/tinymce.min.js"></script>
<script src="./mod/tinymce/jquery.tinymce.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
