


<div class="row" style="margin-top: 120px">

    <div class="col-md-12">

        <div class="x_panel">
            <div class="x_title">
                <h2> Summary of selected dataset<small>whole life</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-9 col-sm-12 col-xs-12 summary-chart">

                    <div class="loading-overlay" *ngIf="loading">
                        <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
                        <div class="loader"></div>

                    </div>
                        <!-- chart section -->
                    <br>
                    <br>

                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="loading-overlay" *ngIf="loading">
                        <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
                        <div class="loader"></div>

                    </div>
                    <div *ngIf="!loading">
                        <div class="x_title">
                            <h2>Text Summary</h2>
                            <div class="clearfix"></div>
                        </div>
                        <p> Text describing the selected period.</p>
                        <p> Text describing the selected period.</p>
                        <p> Text describing the selected period.</p>

                        <div class="x_title">
                            <h2>Releases</h2>
                            <div class="clearfix"></div>
                        </div>


                        <ul class="list-unstyled top_profiles scroll-view1" style="overflow-y: scroll;height:350px;">

                            <li class="media event" *ngFor='let release of this.selectedReleases;let i = index;'
                                (mouseover)='highlighRelease(true,i,$event,release)' (mouseout)="highlighRelease(false,i,$event,release)">

                                <a class="pull-left border-aero profile_thumb">
                                    <i class="fa fa-user aero"></i>
                                </a>
                                <div class="media-body">

                                    <!--<a [routerLink]="['/releases',release.releaseID]" class="title">{{ release.name }}</a>-->
                                    <a class="title">{{ release.name }}</a>
                                    <p><strong>{{release.dateHuman}} </strong> </p>

                                </div>


                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
