


<div class="row" style="margin-top: 120px">

    <div class="col-md-12">

        <div class="x_panel">
            <div class="x_title">
                <h2> Summary of selected dataset<small>whole life</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a (click)="addSelectedChart()">Chart</a>
                            </li>
                            <li><a href="#">Text Summary</a>
                            </li>
                            <li><a href="#">Releases List</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-9 col-sm-12 col-xs-12 summary-chart">

                    <div class="loading-overlay" *ngIf="loading">
                        <div class="loader"></div>
                    </div>

                        <!-- chart section -->
                    <br>
                    <br>

                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="loading-overlay" *ngIf="loading">
                        <div class="loader"></div>

                    </div>
                    <div *ngIf="!loading">
                        <div class="x_title">
                            <h2>Text Summary</h2>
                            <div class="clearfix"></div>
                        </div>
                        <p> Text describing the selected period.</p>
                        <p> Text describing the selected period.</p>
                        <p> Text describing the selected period.</p>

                        <div class="x_title">
                            <h2>Releases <span *ngIf="this.selectedReleases?.length > 0">({{this.selectedReleases.length}})</span></h2>
                            <div class="clearfix"></div>
                        </div>


                        <ul class="list-unstyled top_profiles scroll-view1" style="overflow-y: scroll;height:350px;">

                            <li class="media event" *ngFor='let release of this.selectedReleases;let i = index;'
                                (mouseover)='highlighRelease(true,i,$event,release)' (mouseout)="highlighRelease(false,i,$event,release)"
                                (click)="releaseDrillDown(release)">

                                <a class="pull-left border-aero profile_thumb">
                                    <i class="fa fa-user aero"></i>
                                </a>
                                <div class="media-body">
                                    <a class="title">{{ release.name }}</a>
                                    <p><strong>{{release.dateHuman}} </strong> </p>

                                </div>


                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div *ngIf="showSuccess" class="ui-pnotify  ui-pnotify-fade-slow ui-pnotify-in ui-pnotify-fade-in ui-pnotify-move"
     aria-live="assertive" aria-role="alertdialog" style=" width: 300px; right: 36px; cursor: auto;">
    <div class="alert ui-pnotify-container alert-success ui-pnotify-shadow" role="alert" style="min-height: 16px;">

        <div class="ui-pnotify-sticker" aria-role="button" aria-pressed="true" tabindex="0" title="Unstick" style="cursor: pointer; visibility: hidden;">
            <span class="glyphicon glyphicon-play" aria-pressed="true"></span></div><div class="ui-pnotify-icon">
        <span class="glyphicon glyphicon-ok-sign"></span></div><h4 class="ui-pnotify-title"> Success!</h4>
        <div class="ui-pnotify-text" aria-role="alert">The selected element has been added to the story.</div>
    </div>
</div>
